# Calculate Row and Column Sums in Pandas

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html

In [1]:
import pandas as pd
import numpy as np

## Create some data

In [12]:
df = pd.DataFrame({'A': np.random.randn(10), 
                   'B': np.random.randn(10),
                   'C': np.random.randn(10)})
df

          A         B         C
0 -0.461685  0.730872 -2.478940
1 -0.188915 -0.552309  0.688647
2 -0.206518 -1.460290  0.465444
3 -0.774770 -0.251558 -0.246121
4 -1.886478  0.364912 -2.525898
5 -1.139990 -0.155845  0.902333
6  0.492908  0.555172  1.360270
7 -2.610439  1.644820  0.588850
8 -0.078465  0.004781 -1.328723
9 -0.014604  1.143684  2.182856

## Row sums
(sum across columns)

In [13]:
df['Sum'] = df.sum(axis=1)
df

          A         B         C       Sum
0 -0.461685  0.730872 -2.478940 -2.209752
1 -0.188915 -0.552309  0.688647 -0.052578
2 -0.206518 -1.460290  0.465444 -1.201364
3 -0.774770 -0.251558 -0.246121 -1.272448
4 -1.886478  0.364912 -2.525898 -4.047463
5 -1.139990 -0.155845  0.902333 -0.393502
6  0.492908  0.555172  1.360270  2.408350
7 -2.610439  1.644820  0.588850 -0.376769
8 -0.078465  0.004781 -1.328723 -1.402406
9 -0.014604  1.143684  2.182856  3.311936

## Column sums
(sum down rows)

In [14]:
df.sum(axis=0)

A     -6.868955
B      2.024239
C     -0.391281
Sum   -5.235998
dtype: float64