# A single row of a `pd.DataFrame` is a Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
rng = pd.date_range('1/1/2018', periods=288, freq='H')
df = pd.DataFrame(np.random.normal(0, 1, (len(rng), 2)).cumsum(axis=0), index=rng)
df.head(10)

                            0         1
2018-01-01 00:00:00 -0.711119  0.129624
2018-01-01 01:00:00 -0.222897  1.930072
2018-01-01 02:00:00  0.374820  1.661863
2018-01-01 03:00:00  0.158968  1.669149
2018-01-01 04:00:00  0.696245  0.496185
2018-01-01 05:00:00  0.868444  1.660524
2018-01-01 06:00:00 -0.184602  1.323268
2018-01-01 07:00:00 -1.073911  1.338677
2018-01-01 08:00:00 -1.960032  1.978038
2018-01-01 09:00:00 -1.451838  1.982282

In [6]:
type(df.iloc[-1])

pandas.core.series.Series

In [7]:
type(df.loc['2018-01-01', :])

pandas.core.frame.DataFrame