# Calculate future returns

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [26]:
rng = pd.date_range('1/1/2018', periods=9, freq='H')
df = pd.DataFrame([10, 11, 12, 14, 12, 10, 10, 9, 14], index=rng, columns=['Prices'])
display(df)

                     Prices
2018-01-01 00:00:00      10
2018-01-01 01:00:00      11
2018-01-01 02:00:00      12
2018-01-01 03:00:00      14
2018-01-01 04:00:00      12
2018-01-01 05:00:00      10
2018-01-01 06:00:00      10
2018-01-01 07:00:00       9
2018-01-01 08:00:00      14

In [27]:
return_period = 2
df["Future_Returns"] = ((df["Prices"].shift(-return_period) - df["Prices"]) / df["Prices"])
display(df)

                     Prices  Future_Returns
2018-01-01 00:00:00      10        0.200000
2018-01-01 01:00:00      11        0.272727
2018-01-01 02:00:00      12        0.000000
2018-01-01 03:00:00      14       -0.285714
2018-01-01 04:00:00      12       -0.166667
2018-01-01 05:00:00      10       -0.100000
2018-01-01 06:00:00      10        0.400000
2018-01-01 07:00:00       9             NaN
2018-01-01 08:00:00      14             NaN

In [34]:
expected = {"10": (12-10)/10., "11": (14-11)/11., "12": (12-12)/12., "14": (10-14)/14.}
expected

{'10': 0.2, '11': 0.2727272727272727, '12': 0.0, '14': -0.2857142857142857}

In [30]:
return_period = 3
df["Future_Returns"] = ((df["Prices"].shift(-return_period) - df["Prices"]) / df["Prices"])
display(df)

                     Prices  Future_Returns
2018-01-01 00:00:00      10        0.400000
2018-01-01 01:00:00      11        0.090909
2018-01-01 02:00:00      12       -0.166667
2018-01-01 03:00:00      14       -0.285714
2018-01-01 04:00:00      12       -0.250000
2018-01-01 05:00:00      10        0.400000
2018-01-01 06:00:00      10             NaN
2018-01-01 07:00:00       9             NaN
2018-01-01 08:00:00      14             NaN

In [33]:
expected = {"10": (14-10)/10., "11": (12-11)/11., "12": (10-12)/12., "14": (10-14)/14.}
expected

{'10': 0.4,
 '11': 0.09090909090909091,
 '12': -0.16666666666666666,
 '14': -0.2857142857142857}