# Find Row with Closest Index Timestamp to a given Timestamp

Super useful for working with irregular time series.

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

## Create an irregular time series

In [8]:
index = ['2017-10-12 22:00:03.675692125', '2017-10-12 22:00:30.042392641', '2017-10-12 22:00:30.053233749', '2017-10-12 23:59:49.239239505', '2017-10-13 00:08:53.820875979', '2017-10-13 00:14:05.588567599', '2017-10-13 00:14:05.726903825', '2017-10-13 01:09:09.990183121']
df = pd.DataFrame(data=np.random.random((len(index), 3)), index=pd.to_datetime(index))
df

                                      0         1         2
2017-10-12 22:00:03.675692125  0.051524  0.115733  0.555332
2017-10-12 22:00:30.042392641  0.294439  0.570056  0.649781
2017-10-12 22:00:30.053233749  0.416172  0.451991  0.098536
2017-10-12 23:59:49.239239505  0.100943  0.913227  0.626268
2017-10-13 00:08:53.820875979  0.258513  0.104645  0.619284
2017-10-13 00:14:05.588567599  0.063547  0.303638  0.034929
2017-10-13 00:14:05.726903825  0.800427  0.044364  0.090181
2017-10-13 01:09:09.990183121  0.863162  0.523417  0.676401

## Specify a timestamp of interest

In [19]:
stamp = df.index[5] - timedelta(hours=2)
stamp

Timestamp('2017-10-12 22:14:05.588567599')

## Find the row nearest to timestamp

In [20]:
df.iloc[df.index.get_loc(stamp, method='nearest')]

0    0.416172
1    0.451991
2    0.098536
Name: 2017-10-12 22:00:30.053233749, dtype: float64

## Find the row nearest to timestamp that is also AFTER timestamp

In [21]:
df.iloc[df.index.get_loc(stamp, method='bfill')]

0    0.100943
1    0.913227
2    0.626268
Name: 2017-10-12 23:59:49.239239505, dtype: float64

## Find the row nearest to timestamp that is also BEFORE timestamp

In [22]:
df.iloc[df.index.get_loc(stamp, method='ffill')]

0    0.416172
1    0.451991
2    0.098536
Name: 2017-10-12 22:00:30.053233749, dtype: float64