# Create List of DataFrame Columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.random((10, 5)), columns=['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
0  0.609218  0.465525  0.254827  0.867128  0.383458
1  0.896833  0.481676  0.413698  0.222744  0.516486
2  0.753839  0.004563  0.262873  0.569079  0.747983
3  0.765157  0.949134  0.378512  0.861006  0.425006
4  0.616988  0.332530  0.105626  0.317052  0.395462
5  0.133902  0.338759  0.003583  0.430376  0.940756
6  0.111273  0.140391  0.949444  0.925918  0.192188
7  0.303917  0.407913  0.078689  0.438846  0.113706
8  0.632699  0.108688  0.863686  0.113347  0.983550
9  0.230748  0.428215  0.067725  0.962958  0.482263

## Simplest:

In [6]:
list(df)

['A', 'B', 'C', 'D', 'E']

## Most performant:

In [7]:
df.columns.values.tolist()

['A', 'B', 'C', 'D', 'E']

## Old school:

In [8]:
[col for col in df]

['A', 'B', 'C', 'D', 'E']