# Groupby Date Index Pandas

In [3]:
import numpy as np
import pandas as pd

## Create some sub-daily time series data

In [7]:
rng = pd.date_range('1/1/2018', periods=72, freq='H')
df = pd.DataFrame(np.random.random((len(rng), 5)), index=rng)
df.head(10)

                            0         1         2         3         4
2018-01-01 00:00:00  0.126412  0.134887  0.154831  0.530266  0.095194
2018-01-01 01:00:00  0.714858  0.874014  0.846478  0.285189  0.032926
2018-01-01 02:00:00  0.905902  0.009261  0.878830  0.705161  0.962393
2018-01-01 03:00:00  0.997489  0.170518  0.162298  0.257712  0.814926
2018-01-01 04:00:00  0.984673  0.984524  0.450810  0.203781  0.352197
2018-01-01 05:00:00  0.139561  0.167850  0.621449  0.857141  0.782132
2018-01-01 06:00:00  0.665122  0.693106  0.618281  0.689607  0.725334
2018-01-01 07:00:00  0.898455  0.811315  0.686116  0.641572  0.850148
2018-01-01 08:00:00  0.511476  0.164854  0.560602  0.404557  0.437289
2018-01-01 09:00:00  0.246988  0.756019  0.218438  0.291287  0.705691

## Groupby date

In [22]:
daily_groups = df.groupby(df.index.date)

## Output data by day

In [23]:
for idx, day in daily_groups:
    print("Data For {}:\n".format(idx), day)

Data For 2018-01-01:
                             0         1         2         3         4
2018-01-01 00:00:00  0.126412  0.134887  0.154831  0.530266  0.095194
2018-01-01 01:00:00  0.714858  0.874014  0.846478  0.285189  0.032926
2018-01-01 02:00:00  0.905902  0.009261  0.878830  0.705161  0.962393
2018-01-01 03:00:00  0.997489  0.170518  0.162298  0.257712  0.814926
2018-01-01 04:00:00  0.984673  0.984524  0.450810  0.203781  0.352197
2018-01-01 05:00:00  0.139561  0.167850  0.621449  0.857141  0.782132
2018-01-01 06:00:00  0.665122  0.693106  0.618281  0.689607  0.725334
2018-01-01 07:00:00  0.898455  0.811315  0.686116  0.641572  0.850148
2018-01-01 08:00:00  0.511476  0.164854  0.560602  0.404557  0.437289
2018-01-01 09:00:00  0.246988  0.756019  0.218438  0.291287  0.705691
2018-01-01 10:00:00  0.831487  0.102626  0.552599  0.525885  0.464048
2018-01-01 11:00:00  0.337105  0.853807  0.202581  0.429989  0.940130
2018-01-01 12:00:00  0.973640  0.659232  0.877820  0.969662  0.384119
2018-01-01 13:00:00  0.435915  0.073804  0.949838  0.646944  0.987805
2018-01-01 14:00:00  0.379571  0.696716  0.481081  0.933186  0.488202
2018-01-01 15:00:00  0.307635  0.193294  0.873416  0.422355  0.306593
2018-01-01 16:00:00  0.960618  0.668157  0.745155  0.106717  0.203936
2018-01-01 17:00:00  0.424816  0.655406  0.074618  0.217451  0.633502
2018-01-01 18:00:00  0.255792  0.883347  0.259309  0.296887  0.923854
2018-01-01 19:00:00  0.931304  0.390635  0.898313  0.804417  0.577432
2018-01-01 20:00:00  0.523164  0.055938  0.462866  0.147389  0.794759
2018-01-01 21:00:00  0.476348  0.085430  0.643673  0.814513  0.868392
2018-01-01 22:00:00  0.808696  0.629944  0.555195  0.471421  0.300753
2018-01-01 23:00:00  0.599385  0.778821  0.159271  0.849556  0.081327
Data For 2018-01-02:
                             0         1         2         3         4
2018-01-02 00:00:00  0.221861  0.121111  0.753693  0.586220  0.104346
2018-01-02 01:00:00  0.993024  0.799204  0.891332  0.375949  0.196783
2018-01-02 02:00:00  0.936433  0.209073  0.592593  0.390637  0.932052
2018-01-02 03:00:00  0.149371  0.616281  0.601979  0.262722  0.511253
2018-01-02 04:00:00  0.698530  0.919220  0.735370  0.313580  0.424429
2018-01-02 05:00:00  0.539377  0.023248  0.003277  0.514313  0.855605
2018-01-02 06:00:00  0.714590  0.807554  0.705037  0.423117  0.644997
2018-01-02 07:00:00  0.294842  0.574076  0.098441  0.173647  0.901891
2018-01-02 08:00:00  0.319484  0.601918  0.583422  0.709965  0.247970
2018-01-02 09:00:00  0.114825  0.438820  0.601986  0.338743  0.782218
2018-01-02 10:00:00  0.375210  0.512101  0.126391  0.629062  0.225148
2018-01-02 11:00:00  0.310501  0.597428  0.632069  0.368441  0.844650
2018-01-02 12:00:00  0.405764  0.715974  0.577614  0.390383  0.960790
2018-01-02 13:00:00  0.189705  0.179815  0.432889  0.255283  0.651013
2018-01-02 14:00:00  0.383638  0.647069  0.665959  0.674586  0.401069
2018-01-02 15:00:00  0.411250  0.285926  0.284172  0.472263  0.804920
2018-01-02 16:00:00  0.683731  0.844619  0.956827  0.068744  0.799014
2018-01-02 17:00:00  0.020943  0.003986  0.697735  0.636681  0.924510
2018-01-02 18:00:00  0.600533  0.587133  0.712273  0.220807  0.152052
2018-01-02 19:00:00  0.863771  0.347438  0.679205  0.079361  0.010859
2018-01-02 20:00:00  0.129095  0.218971  0.054280  0.897674  0.081853
2018-01-02 21:00:00  0.598960  0.109825  0.425343  0.196187  0.645932
2018-01-02 22:00:00  0.570848  0.271087  0.320993  0.856311  0.705449
2018-01-02 23:00:00  0.620549  0.650731  0.490764  0.755139  0.431990
Data For 2018-01-03:
                             0         1         2         3         4
2018-01-03 00:00:00  0.236141  0.159506  0.268839  0.600202  0.596023
2018-01-03 01:00:00  0.056764  0.263039  0.748063  0.163692  0.504586
2018-01-03 02:00:00  0.016434  0.734983  0.051872  0.161007  0.706317
2018-01-03 03:00:00  0.906556  0.976964  0.706032  0.739906  0.498976
2018-01-03 04:00:00  0.512090  0.819005  0.401692  0.025719  0.396956
2018-01-03 05:00:00  0.088299  0.738956  0.510442  0.658912  0.171439
2018-01-03 06:00:00  0.168509  0.222347  0.645573  0.441348  0.536314
2018-01-03 07:00:00  0.188696  0.646947  0.749676  0.086809  0.069391
2018-01-03 08:00:00  0.036167  0.454757  0.887456  0.781279  0.539795
2018-01-03 09:00:00  0.962281  0.857789  0.305879  0.573229  0.878020
2018-01-03 10:00:00  0.642722  0.035472  0.373112  0.232947  0.068460
2018-01-03 11:00:00  0.460627  0.217949  0.237740  0.379444  0.919352
2018-01-03 12:00:00  0.430038  0.164495  0.627255  0.246456  0.094698
2018-01-03 13:00:00  0.296582  0.597349  0.824437  0.753898  0.544502
2018-01-03 14:00:00  0.404900  0.329298  0.049507  0.626426  0.396856
2018-01-03 15:00:00  0.867252  0.926323  0.907547  0.923370  0.020585
2018-01-03 16:00:00  0.284341  0.164191  0.522754  0.925588  0.136561
2018-01-03 17:00:00  0.864080  0.776300  0.779054  0.392138  0.996293
2018-01-03 18:00:00  0.459722  0.390706  0.319746  0.570801  0.664722
2018-01-03 19:00:00  0.944874  0.008911  0.741374  0.313236  0.072647
2018-01-03 20:00:00  0.660404  0.583179  0.337528  0.281336  0.054820
2018-01-03 21:00:00  0.997068  0.467678  0.623472  0.250724  0.297096
2018-01-03 22:00:00  0.915456  0.624689  0.421637  0.569698  0.568195
2018-01-03 23:00:00  0.671473  0.360105  0.526383  0.442459  0.936136

## Column-wise descriptive statistics summarised by day

### Column "0"

In [20]:
daily_groups[0].describe()

,count,mean,std,min,25%,50%,75%,max
2018-01-01,24.0,0.601517,0.291306,0.126412,0.368954,0.561275,0.900317,0.997489
2018-01-02,24.0,0.464451,0.268995,0.020943,0.276597,0.408507,0.636344,0.993024
2018-01-03,24.0,0.502978,0.332042,0.016434,0.224280,0.460175,0.864873,0.997068

### Column "1"

In [24]:
daily_groups[1].describe()

,count,mean,std,min,25%,50%,75%,max
2018-01-01,24.0,0.478896,0.334074,0.009261,0.157362,0.642675,0.761720,0.984524
2018-01-02,24.0,0.461775,0.275181,0.003986,0.216496,0.543089,0.647985,0.919220
2018-01-03,24.0,0.480039,0.290907,0.008911,0.221247,0.461217,0.735977,0.976964